if SHIELD_MDACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "mDactyl Left"
endif

if SHIELD_MDACTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "mDactyl Right"
    
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_MDACTYL_LEFT || SHIELD_MDACTYL_RIGHT

config ZMK_SPLIT
    default y

endif
