/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Bluetooth Profile Management
#define BTCLR &bt BT_CLR
#define BT1 &bt BT_SEL 0
#define BT2 &bt BT_SEL 1
#define BT3 &bt BT_SEL 2
#define BT4 &bt BT_SEL 3
#define BT5 &bt BT_SEL 4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |               |  6  |  7  |  8  |  9  |  0  |  +   |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |               |  Y  |  U  |  I  |  O  |  P  |  \   |
// | SHFT |  A  |  S  |  D  |  F  |  G  |               |  H  |  J  |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M  |  ,  |  .  |  /  | SHFT |
//              | GUI | ALT |  [  | SPC | DEL |   | ENT | BKSP|  ]  | PGUP| PGDN|
//                                |LOWER|RAISE|   |LOWER|RAISE|

                        bindings = <
   &kp ESC   &kp N1 &kp N2   &kp N3   &kp N4   &kp N5                      &kp N6   &kp N7   &kp N8    &kp N9  &kp N0      &kp PLUS 
   &kp TAB   &kp Q  &kp W    &kp E    &kp R    &kp T                       &kp Y    &kp U    &kp I     &kp O   &kp P       &kp BSLH
   &kp LSHFT &kp A  &kp S    &kp D    &kp F    &kp G                       &kp H    &kp J    &kp K     &kp L   &kp SEMI    &kp SQT
   &kp LCTRL &kp Z  &kp X    &kp C    &kp V    &kp B                       &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH    &kp RSHFT
                    &kp LGUI &kp LALT &kp LBKT &kp SPACE &kp DEL   &kp RET &kp BSPC &kp RBKT &kp PG_UP &kp PG_DN
                                               &mo 1     &mo 2     &mo 1   &mo 2
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  F1 |  F2 |  F3 |  F4 |  F5 |               |  F6 |  F8 |  F8 |  F9 | F10 | F11  |
// |  ~   |  1  |  2  |  3  |  4  |  5  |               |     |     |     |     | F12 |  "|" |
// |      |  6  |  7  |  8  |  9  |  0  |               | LFT | DWN | UP  | RGT |  :  |  "   | 
// |      |     |     |     |     |     |               |     |     |  <  |  >  |  ?  |      |
//              |     | EISU|  {  |  _  |  -  |   |  +  |  =  |  }  |     |     |
//                                |     |     |   |     |     |

                        bindings = <
   &kp GRAVE &kp F1 &kp F2   &kp F3   &kp F4   &kp F5                         &kp F6    &kp F7   &kp F8    &kp F9    &kp F10   &kp F11 
   &kp TILDE &kp N1 &kp N2   &kp N3   &kp N4   &kp N5                         &trans    &trans   &trans    &trans    &kp F12   &kp PIPE
   &trans    &kp N6 &kp N7   &kp N8   &kp N9   &kp N0                         &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &kp COLON &kp DQT 
   &trans    &trans &trans   &trans   &trans   &trans                         &trans    &trans   &kp LT    &kp GT    &kp QMARK &trans
                    &trans   &kp INT2 &kp LBRC &kp UNDER &kp MINUS   &kp PLUS &kp EQUAL &kp RBRC &trans &trans
                                               &trans    &trans      &trans   &trans
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |               |     |     |     |     |     |     |
// |      |     |     |     |     |     |               |     |     |     |     |     | "|" |
// |      |     |     |     |     |     |               | LFT | DWN |  UP | RGT |  :  |  "  |
// |      |     |     |     |     |     |               |     |     |  <  |  >  |  ?  |     |
//              |     | EISU|  {  |  _  |  -  |   |  +  |  =  |  }  |     |     |
//                                |     |     |   |     |     |

                        bindings = <
   BTCLR      BT1     BT2      BT3      BT4      BT5                            &trans    &trans   &trans    &trans    &trans    &trans
   &trans     &trans  &trans   &trans   &trans   &trans                         &trans    &trans   &trans    &trans    &trans    &kp PIPE
   &trans     &trans  &trans   &trans   &trans   &trans                         &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &kp COLON &kp DQT 
   &trans     &trans  &trans   &trans   &trans   &trans                         &trans    &trans   &kp LT    &kp GT    &kp QMARK &trans
                      &trans   &kp INT2 &kp LBRC &kp UNDER &kp MINUS   &kp PLUS &kp EQUAL &kp RBRC &trans &trans
                                                 &trans    &trans      &trans   &trans
                        >;
                };
        };
};
